@font-face{
  font-family:'neuman';
  src: url(./3856NeueMachina.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

section{
  height: 100%;
  width: 100%;
  position: relative;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
}

.part2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav h1 i{
  display: inline-block;
  rotate:45deg;
  font-size: 45px;
}

nav h1{
  font-size: 40px;
}

nav h4{
  font-size: 20px;
  font-weight: 500;
}

nav button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #000;
}

.center{
  /* background-color: red; */
  padding: 50px 60px;
  height: 80%;
  width: 100%;
  display: flex;
}

.center-part1{
  height: 100%;
  width: 40%;
}

.center-part1 h1{
  font-size: 50px;
  font-family: 'neuman';
  line-height: 1.2;
}

.center-part1 p{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 16px;
}

.center-part1 button{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 25px;
  font-weight: 600;
  border: none;
}

.center-part2{
  height: 100%;
  width: 60%;
  position: relative;
}

.center-part2 img{
  height: 100%;
  position: absolute;
  right: 10%;
}

.section1bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 65px;
}

.section1bottom img{
  height: 50px;
}



.section2 .services{
  padding: 40px 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 25px;
}

.services h3{
  background-color: #9AE975;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-family: neuman;
}

.services p{
  width: 55%;
  font-size: 16px;
  font-weight: 600;
}

.container{
  height: 86%;
  width: 100%;
  padding: 40px 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  
}

.elem{
  height: 250px;
  width: 48%;
  background-color: red;
  border: 2px solid black;
  border-radius: 30px;
  flex-shrink: 0; 
  box-shadow: 0px 12px 0px black;
  padding: 20px;
}


